body{
	background: skyblue;
}

	div{
		color:black;
		width: 40%;
		height: 100px;
		background color:black;
		padding: 5px;
		border: 2px solid black;
		margin: 25px;
	}

	#One{
		#margin: 0 auto;
	}


	#Two{
		display:inline-block;
	}

	#Three{
		display:inline-block;
	}

	#Four{
		display:block;
	}

	.smallbox{
		background-color: yellow;
		position:absolute;
		width:1%;
		height:1%;
		right:100px;
		left:530px;
		bottom:243px;
		margin:0px;
	}

	

